<h1>About Me</h1>
<p>I have traveled all over the world, including Germany, Ireland and England</p>
<p>My favorite place is Scotland and their flag is white and <%= @color %></p>

<style>
  body {
    background: <%= @color %>;
  }
</style>


<%= link_to "Blue", {controller: "welcome", action: "about", color: "blue"}, class: "btn btn-primary" %>
