<h1><center>Welcome to Jennifer's Travel Page</center></h1>
<p>Enjoy and get ready an Adventure!</p>

<div id="map-canvas"></div>


<ul>
<% @countries. each do |country| %>
    <li><%= country %></li>
    
<% end %>
    
    <%= image_tag "new-zealand.jpg", alt: "Mountains", id: "NZ", country: "NZLand", height: "200" %>
    
    <%= image_tag "Norway.jpg", alt: "Waterview", id: "Norway", country: "Norway", height: "200" %>
    
    <%= image_tag "vancouver.jpg", alt: "Cityview", id: "City", country: "Canada", height: "200" %>
    
    
 <% @travel_pics.each do |pic| %>

    
    
<% end %>   
</ul>